.color-picker-container {
  text-align: center;
  margin: 50px;
  padding: 50px;
}

.bGButton {
  margin: 20px;
}

button {
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  border-color: black;
  background-color: rgb(224, 245, 247);
  font-family: 'Gill Sans';
  font-size: x-large;
  font-weight: 1000;
}

.color-display {
  width: 500px;
  height: 500px;
  margin: 20px auto;
}
